/* styles.css */

:root {
    --border-radius: 8px;
    --text: rgb(30, 30, 30);
    --primary: rgb(243, 249, 255);
    --card-color:  rgb(243, 249, 255);
    --border-thickness: 5px;
    --shadow: 15px 15px rgba(0, 0, 0, 0.5);
    --link-color: 101, 255, 152;
    --click-me: rgb(234, 255, 0);
}

hr {
    color: var(--text);
    height: calc(var(--border-thickness)* 0.5);
    background-color: var(--text);
    border-radius: calc(var(--border-radius) * 0.75);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--primary);
    color: var(--text);
    font-weight: 600;
    font-size: clamp(0.7rem, 1.2vw, 1rem); /* Adjust font size based on viewport width */
}

.flat-section {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.raised-section {
    border-radius: var(--border-radius);
    padding: 7.5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: var(--primary);
    border: var(--border-thickness) solid var(--text);
    box-shadow: var(--shadow);
}

a {
    color: var(--text);
    text-decoration-skip-ink: none;
    text-decoration:underline solid rgb(var(--link-color));
    transition: all 0.2s ease;
    text-decoration-thickness: var(--border-thickness);
    background-color: transparent;
}

.alta {
    color: var(--text);
    text-decoration-skip-ink: none;
    text-decoration:underline solid var(--primary);
    transition: all 0.2s ease;
    text-decoration-thickness: var(--border-thickness);
    background-color: transparent;
}

a:hover {
    text-decoration:underline solid transparent;
    background-color: rgb(var(--link-color));
}

.alta:hover {
    text-decoration:underline solid transparent;
    background-color: var(--primary);
}

.bento-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (min-width: 1200px) {
    .bento-box {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bento-item {
    perspective: 1000px;
    position: relative;
    width: 100%;
    padding-top: 100%; /* Maintain aspect ratio */
}

.bento-front, .bento-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: var(--border-thickness) solid var(--text);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    padding: 20px;
    box-sizing: border-box;
    transition-delay: 0.1s;
}

.bento-front {
    background-color: rgb(var(--link-color));
    text-align: center;
}

.bento-front p {
    margin-top: 0px;
}

.bento-back {
    background-color: var(--primary);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.bento-item.flipped .bento-front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.bento-item.flipped .bento-back {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.bento-item img {
    max-width: 100%;
    height: auto;
}

.intro-section {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 90vw;
}

.intro-text {
    flex: 1;
}

.intro-image {
    perspective: 1000px;
    height: 200px;
    width: auto;
    margin: 10px;
    aspect-ratio: 1/1;
}

.image-card {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    position: relative;
}

.image-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: var(--border-radius);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    border: var(--border-thickness) solid var(--text);
}

.image-front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.image-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: calc(var(--border-radius) * 0.5);
}

/* Responsive design */
@media (max-width: 768px) {
    .intro-section {
        width: 80vw;
        padding: 0px;
        margin: 0px;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        justify-content: center;
    }

    .intro-text h2 {
        font-size: 1rem;
    }

    .intro-image {
        margin: 0;
        padding: 0;
        height: 80vw;
        display: none;
    }
}

.click-me {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: var(--click-me);
    color: #000;
    padding: 2px 7.5px;
    border-radius: var(--border-radius);
    border: calc(var(--border-thickness) * 0.85) solid var(--text);
    font-weight: bold;
    z-index: 1;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    transition-delay: 0.05s;
}

.disappear {
    opacity: 0%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
}